- to read an Excel file in Python, we use the Pandas **read_excel()** method.

**Read an excel file in Pandas**
- pandas.read_excel()

In [15]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\saina\anaconda3\envs\project\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\saina\anaconda3\envs\project\lib\site-packages (from openpyxl) (2.0.0)

In [16]:
import pandas as pd
df = pd.read_excel(r"C:\Users\Saina\Desktop\Tech.xlsx")

print("\n\n",df)

     Devices Price  Used(in year)
0   Mobile    80k            1.5
1   Monitor   40k            4.0
2     Mouse    2k            4.0
3  Keyboard  3.4k            4.0
4    Laptop  200k            2.0

**Display the top N roes of DataFrame**
- **head()** method will display the first n rows of a DataFrame.

In [18]:
import pandas as pd

df = pd.read_excel(r"C:\Users\Saina\Desktop\Tech.xlsx")

print("Our DataFrame: \n",df)

print("\nLast 5 rows:\n",df.head())
print("\nLast 3 rows:\n",df.head(3))

Our DataFrame:
     Devices Price  Used(in year)
0   Mobile    80k            1.5
1   Monitor   40k            4.0
2     Mouse    2k            4.0
3  Keyboard  3.4k            4.0
4    Laptop  200k            2.0

Last 5 rows:
     Devices Price  Used(in year)
0   Mobile    80k            1.5
1   Monitor   40k            4.0
2     Mouse    2k            4.0
3  Keyboard  3.4k            4.0
4    Laptop  200k            2.0

Last 3 rows:
    Devices Price  Used(in year)
0  Mobile    80k            1.5
1  Monitor   40k            4.0
2    Mouse    2k            4.0

**Display the last n rows of a dataframe**
- **tail()** method will display the last n rows of DataFrame.

In [17]:
import pandas as pd

df = pd.read_excel(r"C:\Users\Saina\Desktop\Tech.xlsx")

print("Our DataFrame: \n",df)

print("\nLast 5 rows:\n",df.tail())
print("\nLast 3 rows:\n",df.tail(3))

Our DataFrame:
     Devices Price  Used(in year)
0   Mobile    80k            1.5
1   Monitor   40k            4.0
2     Mouse    2k            4.0
3  Keyboard  3.4k            4.0
4    Laptop  200k            2.0

Last 5 rows:
     Devices Price  Used(in year)
0   Mobile    80k            1.5
1   Monitor   40k            4.0
2     Mouse    2k            4.0
3  Keyboard  3.4k            4.0
4    Laptop  200k            2.0

Last 3 rows:
     Devices Price  Used(in year)
2     Mouse    2k            4.0
3  Keyboard  3.4k            4.0
4    Laptop  200k            2.0