- selects more than one column without using built-in functions
- more than two columns can also be selected in a range


**Select two columns**
- to select two specific columns from a Pandas DF, mention the column names
- donot mention the name that you donot want to display

**dataframe[['Rank','Marks]]**

In [5]:
import pandas as pd

#DataSet
data= {
    'Student': ["Raja","Ram","Rama","Ramesh","Rabi"],
    'Rank':[1,4,3,2,5],
    'Marks':[97,24,95,54,76]
}

df = pd.DataFrame(data)

print("Students Records\n",df)
print("\nSelecting only two columns\n",df[['Rank','Marks']])

Students Records
   Student  Rank  Marks
0    Raja     1     97
1     Ram     4     24
2    Rama     3     95
3  Ramesh     2     54
4    Rabi     5     76

Selecting only two columns
    Rank  Marks
0     1     97
1     4     24
2     3     95
3     2     54
4     5     76

**Select multiple columns in a range**
- selects more than one column in a range
- uses colon to separate range

**dataFrame[dataFrame.columns[2:3]]** selects 3rd and 5th columns

In [14]:
import pandas as pd

#DataSet
data= {
    'Id':["S01","S02","S03","S04","S05",],
    'Student': ["Raja","Ram","Rama","Ramesh","Rabi"],
    'Roll':[101,102,103,104,105],
    'Rank':[1,4,3,2,5],
    'Marks':[97,24,95,54,76],
    'Address':["East","North","West","South","SouthWest"]
}

df = pd.DataFrame(data)


#Select column 3rd to 5th
print("Students Records\n",df)
print("\nSelecting columns in a range\n",df[df.columns[2:5]])

Students Records
     Id Student  Roll  Rank  Marks    Address
0  S01    Raja   101     1     97       East
1  S02     Ram   102     4     24      North
2  S03    Rama   103     3     95       West
3  S04  Ramesh   104     2     54      South
4  S05    Rabi   105     5     76  SouthWest

Selecting columns in a range
    Roll  Rank  Marks
0   101     1     97
1   102     4     24
2   103     3     95
3   104     2     54
4   105     5     76