**Add a new column using insert()** (set the location)
- use the **insert()** method
- we can set the location, name and the values as a parameter:

**dataFrame.insert(2,"roll", [101, 102, 103, 104, 105])**
- 1st  parameter (2) of the insert() is the location you want the new column
- 2nd (roll) is the name of new col
- 3rd [...] is the values of the new col

In [6]:
import pandas as pd

#DataSet
data= {
    'Id':["S01","S02","S03","S04","S05",],
    'Student': ["Raja","Ram","Rama","Ramesh","Rabi"],
    'Rank':[1,4,3,2,5],
    'Marks':[97,24,95,54,76],
}

dataFrame = pd.DataFrame(data)
print("Students Records\n",dataFrame)

#Insert a new column with inseert()
dataFrame.insert(2,"Roll",[101,102,103,104,105])

print("\nUpdated DataFrame = \n",dataFrame)

Students Records
     Id Student  Rank  Marks
0  S01    Raja     1     97
1  S02     Ram     4     24
2  S03    Rama     3     95
3  S04  Ramesh     2     54
4  S05    Rabi     5     76

Updated DataFrame =
     Id Student  Roll  Rank  Marks
0  S01    Raja   101     1     97
1  S02     Ram   102     4     24
2  S03    Rama   103     3     95
3  S04  Ramesh   104     2     54
4  S05    Rabi   105     5     76

**assign a new column using the assign() method** (place at the end)

- uses the assign() method.
- adds a new column to the end
set new column name as parameter of the assign() method

**resDF = dataFrame.assign(roll = [102, 103, 104 ,105])**

In [8]:
import pandas as pd

#DataSet
data= {
    'Id':["S01","S02","S03","S04","S05",],
    'Student': ["Raja","Ram","Rama","Ramesh","Rabi"],
    'Rank':[1,4,3,2,5],
    'Marks':[97,24,95,54,76],
}

dataFrame = pd.DataFrame(data)
print("Students Records\n",dataFrame)

#Insert a new column with assign() method
resDF = dataFrame.assign(Roll = [101,102,103,104,105])

print("\nUpdated DataFrame = \n",resDF)

Students Records
     Id Student  Rank  Marks
0  S01    Raja     1     97
1  S02     Ram     4     24
2  S03    Rama     3     95
3  S04  Ramesh     2     54
4  S05    Rabi     5     76

Updated DataFrame =
     Id Student  Rank  Marks  Roll
0  S01    Raja     1     97   101
1  S02     Ram     4     24   102
2  S03    Rama     3     95   103
3  S04  Ramesh     2     54   104
4  S05    Rabi     5     76   105