**Iterate over rows**
- **iterrows()** to iterate over rows
- **itertuples()** to iterate over rows

**iterrows()**

In [3]:
import pandas as pd

#DataSet
data= {
    'Id':["S01","S02","S03","S04","S05",],
    'Student': ["Raja","Ram","Rama","Ramesh","Rabi"],
    'Rank':[1,4,3,2,5],
    'Marks':[97,24,95,54,76],
}

dataFrame = pd.DataFrame(data)
print("Students Records\n",dataFrame)

#Iterate over rows
print("\nDisplay the rows\n")
for row in dataFrame.iterrows():
    print("\n",row)

Students Records
     Id Student  Rank  Marks
0  S01    Raja     1     97
1  S02     Ram     4     24
2  S03    Rama     3     95
3  S04  Ramesh     2     54
4  S05    Rabi     5     76

Display the rows


 (0, Id          S01
Student    Raja
Rank          1
Marks        97
Name: 0, dtype: object)

 (1, Id         S02
Student    Ram
Rank         4
Marks       24
Name: 1, dtype: object)

 (2, Id          S03
Student    Rama
Rank          3
Marks        95
Name: 2, dtype: object)

 (3, Id            S04
Student    Ramesh
Rank            2
Marks          54
Name: 3, dtype: object)

 (4, Id          S05
Student    Rabi
Rank          5
Marks        76
Name: 4, dtype: object)

**itertuples()**

In [6]:
import pandas as pd

#DataSet
data= {
    'Id':["S01","S02","S03","S04","S05",],
    'Student': ["Raja","Ram","Rama","Ramesh","Rabi"],
    'Rank':[1,4,3,2,5],
    'Marks':[97,24,95,54,76],
}

dataFrame = pd.DataFrame(data)
print("Students Records\n",dataFrame)

#Iterate over rows
print("\nDisplay the records as a Tuple object\n")
for row in dataFrame.itertuples():
    print("\n",row)

Students Records
     Id Student  Rank  Marks
0  S01    Raja     1     97
1  S02     Ram     4     24
2  S03    Rama     3     95
3  S04  Ramesh     2     54
4  S05    Rabi     5     76

Display the records as a Tuple object


 Pandas(Index=0, Id='S01', Student='Raja', Rank=1, Marks=97)

 Pandas(Index=1, Id='S02', Student='Ram', Rank=4, Marks=24)

 Pandas(Index=2, Id='S03', Student='Rama', Rank=3, Marks=95)

 Pandas(Index=3, Id='S04', Student='Ramesh', Rank=2, Marks=54)

 Pandas(Index=4, Id='S05', Student='Rabi', Rank=5, Marks=76)

**Iterate over columns**
- use the items() method
- the result will display a label object that is the name of the column and a column object that is what you have in the column

In [19]:
import pandas as pd

#DataSet
data= {
    'Id':["S01","S02","S03","S04","S05",],
    'Student': ["Raja","Ram","Rama","Ramesh","Rabi"],
    'Rank':[1,4,3,2,5],
    'Marks':[97,24,95,54,76],
}

dataFrame = pd.DataFrame(data)
print("Students Records\n",dataFrame)

#Iterate over each column
print("Iterate over each column\n")
for a, b in dataFrame.items():
    print("\n",a)
    print(b)

Students Records
     Id Student  Rank  Marks
0  S01    Raja     1     97
1  S02     Ram     4     24
2  S03    Rama     3     95
3  S04  Ramesh     2     54
4  S05    Rabi     5     76
Iterate over each column


 Id
0    S01
1    S02
2    S03
3    S04
4    S05
Name: Id, dtype: object

 Student
0      Raja
1       Ram
2      Rama
3    Ramesh
4      Rabi
Name: Student, dtype: object

 Rank
0    1
1    4
2    3
3    2
4    5
Name: Rank, dtype: int64

 Marks
0    97
1    24
2    95
3    54
4    76
Name: Marks, dtype: int64