**means to find and remove suplicates from rows in DataFrame or Series**

- **duplicated()**: Finds Duplicates
- **drop_duplicates()**: Remove Duplicates

**Find Duplicates**
- use the duplicated() method
- returns a Series with True or False, returns True if duplicate

In [7]:
import pandas as pd

#DataSet
data= {
    'Student': ["Raja","Ram","Rama","Raja","Rabi"],
    'Rank':[1,4,3,1,5],
    'Marks':[97,24,95,97,76],
}

df = pd.DataFrame(data)
print("Students Records\n",df)

#Find the duplicate
res = df.duplicated()
print("\nDescribing Duplicates\n",res)

Students Records
   Student  Rank  Marks
0    Raja     1     97
1     Ram     4     24
2    Rama     3     95
3    Raja     1     97
4    Rabi     5     76

Describing Duplicates
 0    False
1    False
2    False
3     True
4    False
dtype: bool

Remove Duplicates using **drop_duplicates()**:

In [11]:
import pandas as pd

#DataSet
data= {
    'Student': ["Raja","Ram","Rama","Raja","Rabi"],
    'Rank':[1,4,3,1,5],
    'Marks':[97,24,95,97,76],
}

df = pd.DataFrame(data)
print("Students Records\n",df)

#Find the duplicate
res = df.drop_duplicates()
print("\nNew DataFrame after deleting Duplicates\n",res)

Students Records
   Student  Rank  Marks
0    Raja     1     97
1     Ram     4     24
2    Rama     3     95
3    Raja     1     97
4    Rabi     5     76

New DataFrame after deleting Duplicates
   Student  Rank  Marks
0    Raja     1     97
1     Ram     4     24
2    Rama     3     95
4    Rabi     5     76