**is a two-dimensional, tabular data, table with rows and columns.**

**DataFrame() method is used to create a DataFrame and has following parameters:**
- ***data:*** The data to be stored in the Pandas DataFrame
- ***index:*** The index values to be provided for the resultant frame
- ***columns:*** Set the column lables for the resultant frame if data doesnot mention before
- ***dtype:*** It is the datatype and only a single type is allowed
- ***copy:*** To copy the input data

***Create a Panda DataFrame***

In [ ]:
import pandas as pd

#Dataset
data ={
    'student': ["David","Mrunal","Sansha","Arya","Mitch",],
    'rank': [1,2,3,4,5],
    'marks': [95,70,80,60,90]
}
df = pd.DataFrame(data)
print("Student Records\n\n",df)

Student Records

   Student  rank  marks
0   David     1     95
1  Mrunal     2     70
2  Sansha     3     80
3    Arya     4     60
4   Mitch     5     90

***Access a group of rows or columns in a pandas dataframe***
- dataframe.loc

In [7]:
#Dataset
data ={
    'Student': ["David","Mrunal","Sansha","Arya","Mitch",],
    'Rank': [1,2,3,4,5],
    'Marks': [95,70,80,60,90]
}


df = pd.DataFrame(data,index = ['RowA','RowB','RowC','RowD','RowE'])

print("Student Records\n\n",df)

#Access the value in the student column corresponding to the RowA lable

print("\nValue = ", df.loc['RowA','Student'])

Student Records

      Student  Rank  Marks
RowA   David     1     95
RowB  Mrunal     2     70
RowC  Sansha     3     80
RowD    Arya     4     60
RowE   Mitch     5     90

Value =  David

***Access a group of rows or columns by integer positions in a Pandas DataFrame***
- dataframe.iloc

In [21]:
#Dataset
data ={
    'Student': ["David","Mrunal","Sansha","Arya","Mitch",],
    'Rank': [1,4,3,5,2],
    'Marks': [95,70,80,60,90]
}


df = pd.DataFrame(data,index =['RowA','RowB','RowC','RowD','RowE'])

print("Student Records\n\n",df)

#Access using rows or columns by integer positions

print("\nValue =",df.iloc[[1,2]])

Student Records

      Student  Rank  Marks
RowA   David     1     95
RowB  Mrunal     4     70
RowC  Sansha     3     80
RowD    Arya     5     60
RowE   Mitch     2     90

Value =      Student  Rank  Marks
RowB  Mrunal     4     70
RowC  Sansha     3     80

***Name your Indexes in a Pandas DataFrame***
- index

In [18]:
#Dataset
data ={
    'Student': ["David","Mrunal","Sansha","Arya","Mitch",],
    'Rank': [1,4,3,5,2],
    'Marks': [95,70,80,60,90]
}


df = pd.DataFrame(data,index =['RowA','RowB','RowC','RowD','RowE'])

#Use the index argument to set your indexes
df = pd.DataFrame(data, index =['Student1','Student2','Student3','Student4','Student5'])
print("Student Recoeds\n\n",df)

Student Recoeds

          Student  Rank  Marks
Student1   David     1     95
Student2  Mrunal     4     70
Student3  Sansha     3     80
Student4    Arya     5     60
Student5   Mitch     2     90

***Iterate a Pandas DataFrame to display the column names***
- use of **for loop**

In [23]:
#Dataset
data ={
    'Student': ["David","Mrunal","Sansha","Arya","Mitch",],
    'Rank': [1,4,3,5,2],
    'Marks': [95,70,80,60,90]
}


df = pd.DataFrame(data,index =['RowA','RowB','RowC','RowD','RowE'])

#Use the index argument to set your indexes
df = pd.DataFrame(data, index =['Student1','Student2','Student3','Student4','Student5'])
print("Student Recoeds\n\n",df)
#Iteration
print("Displaying the column",)
for col in df:
    print(col)

Student Recoeds

          Student  Rank  Marks
Student1   David     1     95
Student2  Mrunal     4     70
Student3  Sansha     3     80
Student4    Arya     5     60
Student5   Mitch     2     90
Displaying the column
Student
Rank
Marks